@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap");
@import "tailwindcss";

@theme {
  --font-lora: "Lora", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-cinzel: "Cinzel", sans-serif;
  --color-shuttle-gray-50: #f9fafb;
  --color-shuttle-gray-100: #f2f4f7;
  --color-shuttle-gray-200: #e4e7ec;
  --color-shuttle-gray-300: #cfd5dd;
  --color-shuttle-gray-400: #98a2b3;
  --color-shuttle-gray-500: #5f687a;
  --color-shuttle-gray-600: #465468;
  --color-shuttle-gray-700: #324056;
  --color-shuttle-gray-800: #1a283c;
  --color-shuttle-gray-900: #0d162b;
  --color-shuttle-gray-950: #000615;

  --color-tussock-50: #f9f6ed;
  --color-tussock-100: #f0e9d1;
  --color-tussock-200: #e2d3a6;
  --color-tussock-300: #d2b572; /* ini emas */
  --color-tussock-400: #c7a156;
  --color-tussock-500: #b4873e;
  --color-tussock-600: #9b6b33;
  --color-tussock-700: #7c502c;
  --color-tussock-800: #69422a;
  --color-tussock-900: #5a3929;
  --color-tussock-950: #341e14;

  --color-ecru-white-50: #f5f3e7;
  --color-ecru-white-100: #eeead7;
  --color-ecru-white-200: #dbd5ac;
  --color-ecru-white-300: #c9bc80;
  --color-ecru-white-400: #bca863;
  --color-ecru-white-500: #b09150;
  --color-ecru-white-600: #9b7844;
  --color-ecru-white-700: #825e3b;
  --color-ecru-white-800: #6b4c35;
  --color-ecru-white-900: #59402e;
  --color-ecru-white-950: #322216;
}

.reveal {
  @apply opacity-0 translate-y-10 transition-all duration-1000;
}

.reveal.show {
  @apply opacity-100 translate-y-0;
}

.navbar {
  @apply fixed top-0 left-0 w-full h-max bg-linear-to-r from-shuttle-gray-800 from-80% via-shuttle-gray-700 via-90% to-shuttle-gray-600 to-95% z-50;
}

.li-nav {
  @apply font-poppins text-ecru-white-200 pl-2 pr-2 transition duration-300 ease-in-out hover:border-0 hover:bg-tussock-300 hover:text-ecru-white-50 rounded-3xl;
}

.menu-mobile {
  @apply absolute top-full left-0 w-full z-50
}

.font-gallery {
  @apply font-poppins font-bold text-4xl md:text-6xl pt-10 pl-10 bg-linear-to-b from-tussock-400 from-60% via-tussock-300 via-85% to-ecru-white-200 bg-clip-text text-transparent;
}

.grid-gallery {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10 p-10;
}

.gallery-card {
  @apply relative border border-white/10 rounded-2xl flex flex-col transition duration-200 ease-in-out hover:translate-y-1 hover:scale-105 md:grayscale hover:grayscale-0 overflow-hidden;
}

.gallery-text {
  @apply absolute bottom-4 left-4 text-xl md:text-2xl font-cinzel text-tussock-400 text-shadow-2xs text-shadow-tussock-100 transition duration-200 sm:opacity-0 sm:group-hover:opacity-100 z-20;
}

.gallery-shadow {
  @apply absolute size-full inset-0 z-5 bg-linear-to-b from-black/0 via-black/50 to-black/85 transition duration-200 sm:-translate-y-10 sm:opacity-0 sm:group-hover:translate-y-0 group-hover:opacity-100;
}

.footer-h1 {
  @apply text-center font-cinzel font-bold text-xl md:text-2xl pb-10 bg-linear-to-b from-tussock-400 from-70% via-tussock-300 via-85% to-tussock-200 to-95% bg-clip-text text-transparent;
}

.svg-set {
  @apply w-10 h-10 text-white hover:text-tussock-400;
}

.svg-rounded {
  @apply inline-flex items-center justify-center
         rounded-full size-20
         inset-shadow-2xs inset-shadow-tussock-200 bg-shuttle-gray-700;
}
